{% extends "base.html" %} 
{% block title %} USER {% endblock %} 

{% block content %}
  <h1 class="display-4 mt-5 ml-5">MY PROFILE</h1>


<div class="containter mx-5 mt-5">
<ul class="list-group">
  <li class="list-group-item list-group-item-secondary"><b>USERNAME:</b> {{user.username}}</li>
  <li class="list-group-item list-group-item-light"><b>FIRST NAME:</b> {{user.first_name}}</li>
  <li class="list-group-item list-group-item-light"><b>LAST NAME:</b> {{user.last_name}}</li>
  <li class="list-group-item list-group-item-light"><b>EMAIL:</b> {{user.email}}</li>

</ul>
</div>
<h1 class="display-4 my-5 ml-5">MY FEEDBACK</h1>
{% for feedback in feedbacks%}
<div class="containter mx-5 mb-3">
<div class="list-group">

  <a href="/feedback/{{feedback.id}}/update" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{feedback.title}}</h5>
      <small class="text-muted">EDIT</small>
    </div>
    <p class="mb-1">{{feedback.content}}</p>
    <a href="/feedback/{{feedback.id}}/delete" class="badge badge-danger">DELETE</a>
 
  </a>
  
</div>
</div>
{% endfor %}

{% endblock %}
